$background-color: black;
$text-color: white;

.deck-container {
  font-family: "Gill Sans", sans-serif;
  font-size:1.5em;
  background:$background-color;

  .slide {
    background:$background-color;

    .vcenter {
      text-align: inherit;
    }

    .hcenter {
      text-align: center;
    }

    h1 {
      color:$text-color;
    }

    h2 {
      color:$text-color;
    }

    h3 {
      color:$text-color;
    }

    pre {
      border: 0;
      color: $text-color;
      font-size: 1.75em;
      overflow: hidden;
      white-space: pre;
    }

    code {
    }

    p {
      color: darken($text-color, 33%);
      margin-bottom: 0.25em;
      margin-top: 0.25em;
      font-size: 1.5em;
    }

    li {
      color: $text-color;
      font-size: 2em;
    }

    blockquote {
      font-size:2.5em;
      font-style:italic;
      padding:1em 2em;
      color:$text-color;
      border-left:5px solid darken($text-color, 25%);

      p {
        margin:0;
      }

      cite {
        display: block;
        font-size:0.75em;
        font-style:normal;
        font-weight:bold;
        color: darken($text-color, 33%);
      }
    }

    ::-moz-selection{ background:#c00; color:$text-color; }
    ::selection { background:#c00; color:$text-color; }

    a {
      &, &:hover, &:focus, &:active, &:visited {
        color:#c00;
        text-decoration:none;
      }

      &:hover, &:focus {
        text-decoration:underline;
      }
    }
  }

  > .slide {
    .deck-before, .deck-previous {
      opacity:0.4;

      &:not(.deck-child-current) {
        .deck-before, .deck-previous {
          opacity:1;
        }
      }
    }

    .deck-child-current {
      opacity:1;
    }
  } 

  .deck-prev-link, .deck-next-link {
    background:$background-color;
    font-family:serif; // sans-serif arrows x-browser fail

    &, &:hover, &:focus, &:active, &:visited {
      color:$text-color;
    }

    &:hover, &:focus {
      background:#c00;
      text-decoration:none;
    }
  }

  .deck-status {
    font-size:0.6666em;
  }

  &.deck-menu {
    .slide {
      background:$background-color;
    }

    .deck-current, .no-touch & .slide:hover {
      background: lighten($background-color, 50%);
    }
  }
}
