.deck-container {
  font-family: "Gill Sans", sans-serif;
  font-size:1.75em;
  background:#000;

  .slide {
    background:#000;

    .vcenter {
      text-align: inherit;
    }

    .hcenter {
      text-align: center;
    }

    h1 {
      color:#fff;
    }

    h2 {
      color:#fff;
    }

    h3 {
      color:#fff;
    }

    pre {
      color: #ccc;
      border: 0;
      font-size: 1.75em;
    }

    code {
      color:#888;
    }

    p {
      color: #ccc;
      margin-bottom: 0.25em;
      margin-top: 0.25em;
      font-size: 1.5em;
    }

    blockquote {
      font-size:2.5em;
      font-style:italic;
      padding:1em 2em;
      color:#fff;
      border-left:5px solid #ccc;

      p {
        margin:0;
      }

      cite {
        display: block;
        font-size:0.75em;
        font-style:normal;
        font-weight:bold;
        color:#888;
      }
    }

    ::-moz-selection{ background:#c00; color:#fff; }
    ::selection { background:#c00; color:#fff; }

    a {
      &, &:hover, &:focus, &:active, &:visited {
        color:#c00;
        text-decoration:none;
      }

      &:hover, &:focus {
        text-decoration:underline;
      }
    }
  }

  > .slide {
    .deck-before, .deck-previous {
      opacity:0.4;

      &:not(.deck-child-current) {
        .deck-before, .deck-previous {
          opacity:1;
        }
      }
    }

    .deck-child-current {
      opacity:1;
    }
  } 

  .deck-prev-link, .deck-next-link {
    background:#000;
    font-family:serif; // sans-serif arrows x-browser fail

    &, &:hover, &:focus, &:active, &:visited {
      color:#fff;
    }

    &:hover, &:focus {
      background:#c00;
      text-decoration:none;
    }
  }

  .deck-status {
    font-size:0.6666em;
  }

  &.deck-menu {
    .slide {
      background:#eee;
    }

    .deck-current, .no-touch & .slide:hover {
      background:#ddf;
    }
  }
}
